<mat-card>
    <mat-card-content>
        <div *ngIf="employeeDetails?.lookingforwork">
            <mat-label>Application submitted !</mat-label>
        </div>

        <mat-form-field *ngIf="!employeeDetails?.lookingforwork">
            <mat-label>Motivational letter</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" (click)="onConfirm()">Confirm Your Application</button>
        </div>
    </mat-card-content>
</mat-card>